.menu {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  // height: 40vh;
  margin: 2em .5em;
  position: relative;
  background-image: url(../../img/folio1.jpg);
}

.menu-item {
  font: normal 5em 'Honey Script';
  padding: 2em;
}

